{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="mb-0" style="font-size: 12px; color: grey;">by {{ post.author }}</p>
    <p style="font-size: 10px; color: grey;">by {{ post.created_at }}</p>
    <img src="{{ post.image }}" alt="post image">
    <p class="card-text">{{ post.body }}</p>
    <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Редактировать</a>
    <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Удалить</a>
  </div>
</div>
{% endblock %}

<!-- {% block js %}
<script></script>
{% endblock %} -->