{% extends 'base.html' %}

{% block content %}
  <h1>Редактировать статью</h1>
  <form action="{% url 'post_update' post.pk %}" method="POST">
    {% include 'partials/create_update_form.html' with button_text="Изменить" %}
  </form>
{% endblock %}