{% csrf_token%}

<div class="w-50">
    {% for error in non_field_errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}

    {% for field in form %}
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>

<button type="submit" class="btn btn-primary mt-3">{{ button_text }}</button>




<!-- {{ errors }} -->

<!-- <div class="mb-3">
    <label for="title" class="form-label">Заголовок*</label>
    {% if errors.title %}
        <input type="text" name="title" class="form-control error_red_border" id="title" 
        placeholder="Title" value="{{ post.title }}">
        <p class="text-danger">{{ errors.title }}</p>
    {% else %}
        <input type="text" name="title" class="form-control" id="title" 
        placeholder="Title" value="{{ post.title }}">
    {% endif %}
</div>
<div class="mb-3">
    <label for="body" class="form-label">Текст</label>
    <textarea class="form-control" name="body" id="body" rows="3">{{ post.body }}</textarea>
</div>
<div class="mb-3">
    <label for="author" class="form-label">Автор*</label>
    {% if errors.author %}
        <input type="text" name="author" class="form-control error_red_border" id="author" 
        placeholder="Author" value="{{ post.author }}">
        <p class="text-danger">{{ errors.author }}</p>
    {% else %}
        <input type="text" name="author" class="form-control" id="author" 
        placeholder="Author"  value="{{ post.author }}">
    {% endif %}
</div>

<button type="submit" class="btn btn-primary">{{ button_text }}</button> -->

<!-- с выводом ошибок БЕЗ css -->
<!-- <div class="mb-3">
    <label for="title" class="form-label">Заголовок</label>
    {% if errors.title %}
        <input type="text" name="title" class="form-control" id="title" 
        placeholder="Title" value="{{ post.title }}" style="border: 1px red solid;">
        <p class="text-danger">{{ errors.title }}</p>
    {% else %}
        <input type="text" name="title" class="form-control" id="title" 
        placeholder="Title" value="{{ post.title }}">
    {% endif %}
</div>
<div class="mb-3">
    <label for="body" class="form-label">Текст</label>
    <textarea class="form-control" name="body" id="body" rows="3">{{ post.body }}</textarea>
</div>
<div class="mb-3">
    <label for="author" class="form-label">Автор</label>

    {% if errors.body %}
        <input type="text" name="author" class="form-control" id="author" 
        placeholder="Author" value="{{ post.author }}" 
        style="border: 1px red solid;">
        <p class="text-danger">{{ errors.title }}</p>
    {% else %}
        <input type="text" name="author" class="form-control" id="author" 
        placeholder="Author"  value="{{ post.author }}">
    {% endif %}
    
</div> -->