{% extends 'base.html' %}

{% block content %}
  <div class="list-group">
    {% for author in authors %}
        <p class="list-group-item list-group-item-action">{{ author }}</p>
    {% endfor %}
  </div>
{% endblock %}

      <!-- <div class="d-flex">
        <a href="{% url 'post_detail' post.pk %}" class="list-group-item list-group-item-action">
          <span style="font-size: 14px;">{{ author }}</span>
        </a>
      </div> -->